.walkthroughPageWrapper {
  min-height: 100vh;
  position: relative;
  .actionGrpButton {
    position: absolute;
    bottom: 50px;
    z-index: 10;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
