@import "../../../assets/scss/mixin_variables.scss";

.categoryCardComponentWrapper {
  border-radius: 6px;
  box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 13%), 0 6px 20px 0 rgb(255 255 255 / 5%) !important;
  .cardWrap {
    padding: 20px;
  }
  .circle {
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    position: relative;
    &::after {
      content: "";
      right: 0;
      bottom: 0;
      top: -5px;
      left: -5px;
      width: 25px;
      opacity: 0.5;
      height: 25px;
      border-radius: 50%;
      position: absolute;
      background-color: inherit;
    }
  }
  .title {
    display: block;
    font-size: 18px;
    color: #535353;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 5px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
  }
  .count-info {
    display: block;
    font-size: 15px;
    color: #8e8e8e;
    .count {
      color: #8e8e8e;
    }
  }
}
