@import "../../../assets/scss/mixin_variables.scss";

.filterTaskModalComponentWrapper {
  .modalHeading {
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
  }
  .filterName span {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .mCheckIcon {
    color: #7ed321;
  }
}
