@import "../../../assets/scss/mixin_variables.scss";

.filterTaskModalComponentWrapper {
  .MuiDialog-container > .MuiPaper-root {
    min-height: 373px;
  }
  .listWrap {
    max-height: 160px;
    overflow: auto;
  }
  .loadingWrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    .loadingImg {
      width: 50px;
    }
  }
  .modalHeading {
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
  }
  .filterName span {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .mCheckIcon {
    color: #7ed321;
  }
}
