@import "../../../assets/scss/mixin_variables.scss";

.editProfileModalComponentWrapper {
  .uploadFileInputWrap input {
    display: none;
  }
  .previewImgWrap {
    width: 100%;
    display: flex;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    justify-content: center;
    .previewImg {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .uploadFileWrap {
    margin-top: 20px;
  }
}
