@import "../../assets/scss/mixin_variables.scss";

.sliderComponentWrapper {
  .swiper-slide {
    background-color: $white;
  }
  .swiper-pagination {
    top: 55%;
    left: 50%;
    bottom: auto;
    position: absolute;
    transform: translate(-50%, -55%);
    .swiper-pagination-bullet {
      transition: all 0.5s;
    }
    .swiper-pagination-bullet-active {
      background-color: #333;
      &:nth-child(1) {
        background-color: #f96060;
      }
      &:nth-child(2) {
        background-color: #6075f9;
      }
      &:nth-child(3) {
        background-color: #81c2bb;
      }
    }
  }
  .sliderContent {
    height: 100vh;
    text-align: center;
  }
  .infoBox {
    height: 60vh;
  }
  .infoTxtBox {
    padding-top: 40px;
  }
  .title {
    font-size: 22px;
    margin: 0;
    font-weight: 600;
  }
  .subTitle {
    font-size: 15px;
  }
  .sliderMainImg {
    height: 60%;
    object-fit: contain;
  }
  .bgLayerBox {
    position: absolute;
    bottom: 0;
    height: 40vh;
    z-index: -1;
    width: 100%;
    left: 0;
    right: 0;
  }
  .content {
    height: 100%;
    padding: 15px;
  }
}
