<table class='main-table-wrapper'>
  <tbody>
    <tr>
      <td>
        <table class='center-table-wrapper'>
          <tbody>
            <tr>
              <td>
                <table class='content-table-wrapper'>
                  <tbody>
                    <tr>
                      <td>
                        <div class='logo-wrapper'>
                          {{> logo }}
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class='main-heading'>Verify your email address</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class='info-text mb-20'>
                          We're excited to have you get started. First, you need to confirm your account.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class='info-text'>Please tap the button below to verify your email.</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class='action-btn-ripple-wrap'>
                          <a href={{verificationEmailUrl}} target='_blank' class='ripple-action-btn'>Verify Email</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>