<table class='main-table-wrapper reminder-email-container'>
  <tbody>
    <tr>
      <td>
        <table class='center-table-wrapper'>
          <tbody>
            <tr>
              <td>
                <table class='content-table-wrapper'>
                  <tbody>
                    <tr>
                      <td>
                        <div class='logo-wrapper'>
                          {{> logo }}
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class='secondary-img-wrapper'>
                          {{> reminderSvg }}
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class='main-heading'>Event Reminder</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class='info-text mb-20'>This is an automatic reminder of the following event.</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h1 class='info-text event-title'>Cycling for Health</h1>
                        <p class='info-text event-time'>
                          Time:
                          <span class='time'>Wednesday, June 20, 3:00pm</span>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class='info-text'>Please tap the button below for more details.</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class='action-btn-ripple-wrap'>
                          <a href='#' target='_blank' class='ripple-action-btn'>Event details</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>