@import "../../assets/scss/mixin_variables.scss";

.markAsCompleteComponentWrapper {
  margin: 10px 0;
  .MuiFormControlLabel-label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .MuiSvgIcon-root {
    width: 30px;
    height: 30px;
  }
}
