@import "../../assets/scss/mixin_variables.scss";

.dateTimeDisplayComponentWrapper {
  display: flex;
  height: 17px;
  align-items: flex-start;
  .alarmIcon {
    font-size: 14px;
    color: #919191;
    margin-right: 3px;
  }
  .dateTime {
    font-size: 11px;
    color: #919191;
  }
  .dateTimeTxtWrap {
    margin: 0;
    height: 100%;
    display: flex;
  }
}
