@import "../../assets/scss/mixin_variables.scss";

.myTaskPageWrapper {
  background-color: #fdfdfd;
  .tabWrapper {
    .tabHeaderbox {
      top: 69px;
      @include maxFixedWidth();
      background-color: $red;
      button {
        color: $white;
      }
    }
    .MuiTabs-indicator {
      height: 4px;
      background-color: $white;
    }
    .tabContentbox {
      padding: 50px 0 15px 0;
    }
  }
}
