@import "../../assets/scss/mixin_variables.scss";

.myTaskPageWrapper {
  background-color: #fdfdfd;
  .tabWrapper {
    .tabHeaderbox {
      top: 69px;
      width: 100%;
      position: fixed;
      background-color: $red;
      button {
        color: $white;
      }
    }
    .MuiTabs-indicator {
      height: 4px;
      background-color: $white;
    }
    .tabContentbox {
      padding: 65px 15px 15px 15px;
    }
  }
}
