@import "../../assets/scss/mixin_variables.scss";

.loaderComponentWrapper {
  display: none;
  .bg-layer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    z-index: $zIdxLoader;
    justify-content: center;
    @include maxFixedWidth();
    background-color: rgb(255 255 255 / 90%);
  }
  &.show {
    display: block;
  }
}
