@import "../../../assets/scss/mixin_variables.scss";

.resetPasswordSuccessPageWrapper {
  display: flex;
  padding: 15px;
  min-height: 70vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  .successImg {
    height: 150px;
    object-fit: contain;
  }
  .heading {
    font-weight: bold;
  }
  .info {
    display: block;
    font-size: 16px;
    padding: 0 10px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}
