@import "./assets/scss/fonts.scss";
@import "./assets/scss/mixin_variables.scss";

html,
body {
  min-height: 100%;
}

// prettier-ignore
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ol,
ul, li, button, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
  color: $black1;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins";
}

body {
  // Set this padding dynamic
  padding-top: 70px;
  padding-bottom: 100px;
}

.App {
  @include maxFixedWidth($noFixed: true);
}

.fluidImg {
  @include imgFluid();
}

.w100 {
  width: 100%;
}

.commonLabel {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.commonModalWrapper {
  .modalTitle {
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
  }
  .modalContentWrap {
    padding: 15px;
  }
  .modalMsg {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }
  .divider {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  .actionBtnFlexContainer {
    padding: 0;
    .actionBtn {
      width: 50%;
      padding: 12px;
      font-weight: 600;
      border-radius: 0;
      margin: 0;
      &.cancelBtn {
        color: #505050;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
      }
      &.successBtn {
        background: #0693e3;
        border-top: 1px solid #0693e3;
      }
      &.dangerBtn {
        background: #f96060;
        border-top: 1px solid #f96060;
      }
    }
  }
}
