html,
body {
  height: 100%;
}

// prettier-ignore
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ol,
ul, li, button, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
  font-family: Raleway, Roboto;
}

.fluidImg {
  width: 100%;
  height: 100%;
}

.w100 {
  width: 100%;
}
