@import "./assets/scss/fonts.scss";
@import "./assets/scss/mixin_variables.scss";

html,
body {
  height: 100%;
}

// prettier-ignore
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ol,
ul, li, button, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
  font-family: "Raleway";
  font-style: normal;
}

.fluidImg {
  @include imgFluid();
}

.w100 {
  width: 100%;
}
